@model IEnumerable<VehicleViewModel>
@{
    ViewBag.Title = "Всички превозни средства";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
       @foreach(var item in Model)
       {

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Model</h5>
                    <h3 class="card-text">@item.RegNumber</h3>
                    <p class="card-text">@item.VType</p>
                    <a class="btn btn-primary" asp-controller="Vehicle" asp-action="VehiclesDetails" asp-route-id="@item.Id">Разбери Повече</a>
   
                </div>
            </div>
        </div>

       }
       
 </div>
